.aboutMe
{
	color: white;
	margin-left: 30px;
}

.name
{
	font-size: 20px;
	margin-top: 10px;
	margin-left: 50px;
}

#profilePic
{
	margin-left: 30px;
	width: 120px;
	height: 180px;
}

.fotos
{
	margin-left: 15px;
}

.connectWord
{
	margin-top: 0px;
	background-color: #2f58a8;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.connect
{
	border: solid white 1px;
	width: 250px;
	height: 175px;
	background: #2f58a8;
	float: right;
	margin: 70px, 70px, 70px, 70px;
	clear:left;
}