
.box
{
	width: 100%
	height: 100%;
	background-color: white;
	border-bottom: solid #cccccc;
}

.box1
{
	width: 100%;
	background-color: white;
	border-bottom: solid #cccccc;
}

.boxPortfolio
{
	position: inherit;
	width: 300px;
	height: 600px;
	background-color: white;
}

.nameField
{
	margin-left: 5px;
    width: 450px;
    padding-top: 12px;
    padding-left: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.messageBox
{
	width: 450px;
	height: 200px;
	border: 1px solid #ccc;
	background-color: white;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 4px;
}

.submitBox
{
	margin-left: 10px;
	width: 30px
	height: 20px;
	background-color: #4aaaa5;
	color: white;
}

.outerSubmit
{
	width: 70px;
	height: 60px;
}

hr
{
	width: 180px;
}

.nombre
{
	color: #DDD;
	margin-top: 10px;
	margin-left: 10px;
}

h1
{
	margin-top: 4px;
	margin-left: 100px;
	display: inline-block;
	background-color: #4aaaa5;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

h2
{
    margin-top: 4px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

hr
{
	width: 250px;
}

#hr2
{
	width: 180px;
}

.fotoPort1
{
	width: 140px;
	height: 100px;
}

.fotoPort
{
	width: 140px;
	height: 140px;
}

.lista
{
	margin-right: 100px;
	margin-top: 35px;
	float: right;
   list-style-type: none;
   color: #DDD;
}

.boxSize
{
	background-image: url("../images/concrete.png");
	height: 100%;
	width: 100%;
}

.boxSize1
{
	background-image: url("../images/concrete.png");
}

.about
{
	width: 600px;
	height: 400px;
	background-color: white;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}

.about1
{
	width: 500px;
	height: 500px;
	background-color: white;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}

.about2
{
	width: 600px;
	height: 400px;
	background-color: white;
	float: left;
}

.word
{
	margin-top: 0px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.aboutBox
{

	margin-left: 25px;
	width: 550px;
	border-bottom: solid #cccccc;
}

.aboutBox1
{

	margin-left: 25px;
	width: 450px;
	border-bottom: solid #cccccc;
}

.connect
{
	width: 250px;
	height: 175px;
	background: white;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}

.connect1
{
	width: 250px;
	height: 175px;
	background: white;
	float: right;
}

.fotos
{
	margin-top: 20px;
	margin-left: 15px;
}

.connectWord
{
	margin-top: 0px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

p
{
	line-height: 1;
	padding-top: 25px;
	color: #DDD;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.profilePic
{
	float: left;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 25px;
}

.footer
{
	clear: both;
	color: #777777;
	text-align: center;
	background-color: #666666;
	height: 65px;
    width: 100%;
    border-top: solid #4aaaa5;
}

.footer1
{
	color: #777777;
	text-align: center;
	background-color: #666666;
	height: 65px;
    width: 100%;
    border-top: solid #4aaaa5;
    clear: both;
}

@media screen and (max-width: 980)
{
	body
	{
		background-color: #333;
	}

	head
	{
		position: static;
	}

	.wrapper
	{
		width: 600px;
	}
}

@media screen and (max-width: 768)
{
	body
	{
		background-color: #333;
	}

	head
	{
		position: static;
	}

	.wrapper
	{
		width: 600px;
	}
}

@media screen and (max-width: 640)
{
	body
	{
		background-color: #333;
	}

	head
	{
		position: static;
	}

	.wrapper
	{
		width: 600px;
	}
}