h1
{
	margin-top: 4px;
	margin-left: 100px;
	display: inline-block;
	background-color: #4aaaa5;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

p
{
	line-height: 1;
	padding-top: 25px;
	color: #DDD;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.aboutBox
{

	margin-left: 25px;
	width: 550px;
	border-bottom: solid #cccccc;
}

.aboutBox1
{

	margin-left: 25px;
	width: 450px;
	border-bottom: solid #cccccc;
}

.about
{
	width: 600px;
	height: 400px;
	background-color: white;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}

.about1
{
	width: 500px;
	height: 500px;
	background-color: white;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}

.box
{
	width: 100%
	height: 100%;
	background-color: white;
	border-bottom: solid #cccccc;
}

.lista
{
	margin-right: 100px;
	margin-top: 35px;
	float: right;
   list-style-type: none;
   color: #DDD;
}

.boxSize
{
	background-image: url("../images/concrete.png");
	position: relative;
	width: 100%;
}

.boxPortfolio
{
	width: 300px;
	height: 400px;
	background-color: white;
}


.connect
{
	width: 250px;
	height: 175px;
	background: white;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}

.connectWord
{
	margin-top: 0px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

.word
{
	margin-top: 0px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.word1
{
	margin-top: 0px;
	display: inline-block;
	background-color: white;
	color: #4aaaa5;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.fotos
{
	margin-top: 20px;
	margin-left: 15px;
}

.profilePic
{
	float: left;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 25px;
}

.footer
{
	clear: both;
	color: #777777;
	text-align: center;
	background-color: #666666;
	height: 65px;
    width: 100%;
    border-top: solid #4aaaa5;
}

.nombre
{
	color: #DDD;
	margin-top: 10px;
	margin-left: 10px;
}

.nameField
{
	margin-left: 5px;
    width: 450px;
    padding: 12px 20px;
    padding-left: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.messageBox
{
	width: 450px;
	height: 200px;
	border: 1px solid #ccc;
	background-color: white;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 4px;
}

.submitBox
{
	margin-left: 10px;
	width: 30px
	height: 20px;
	background-color: #4aaaa5;
	color: white;
}

.outerSubmit
{
	width: 70px;
	height: 60px;
}

@media only screen and (max-width: 980px) 
{
	body
	{
		background-color: #333;
	}

	.about
	{
		width: 960px;
	}
}

@media only screen and (max-width: 768px) 
{
   
}

@media only screen and (max-width: 640px) 
{
   h1
   {
   	position: static;
   }


}